body {background-color:gray;
      font-family:arial narrow;
      color:white;}
h1{color:grey;
   font-family:arial black;}
.maindiv {background-color:white;
        color:black;
        width:480px;
        padding:20px;
        border-radius: 25px;
        align:center;}
table {margin-left:100px;}